{
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "extends": "airbnb",
  "plugins": [
    "jsdoc",
    "smells",
    "react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "globals": {
    "React": true,
    "ReactDOM": true
  },
  "rules": {
    "import/no-named-as-default": "off",
    "react/jsx-filename-extension": "off",
    "no-use-before-define": 0,
    "space-before-function-paren": 0,
    "wrap-iife": ["error", "inside"],
    "react/jsx-uses-vars": [2],
    "arrow-body-style": 0,
    "strict": 0,
    "global-require": "off"
  }
}

