.btn-primary-block-generic {
	background-color: @bg-color-primary-block !important;
}

.btn-primary-block:extend(.btn-primary-block-generic) {	
	width: 100%;
	color: @text-color-primary-block;    
    border: 0;
    padding: 4px 6px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.btn-primary-block:active {
	color: @text-color-primary-block;
	background-color: @bg-color-primary-block-states !important; 
}

.btn-primary-block[disabled]:extend(.btn-primary-block:active),
.btn-primary-block[disabled]:hover:extend(.btn-primary-block:active) {
	opacity: 0.4;
}

.btn-primary-block:hover:extend(.btn-primary-block-generic) {
    color: @text-color-primary-block-states;
}

.btn-primary-block:focus:extend(.btn-primary-block-generic) {
	color: @text-color-primary-block;
}

.btn-alert-generic {
	color: @text-color-alert;
	background-color: @bg-color-alert !important;
}

.btn-alert:extend(.btn-alert-generic),
.btn-alert:focus:extend(.btn-alert-generic) {	
    border: 0;
}

.btn-alert:active:extend(.btn-alert-generic),
.btn-alert:hover:extend(.btn-alert-generic) {
	background-color: @bg-color-alert-states !important; 
}

.btn-alert[disabled]:extend(.btn-alert-generic),
.btn-alert[disabled]:hover:extend(.btn-alert-generic) {
	opacity: 0.4;
}

.btn-simple-generic {
	color: @text-color-simple;
	background-color: @bg-color-simple !important;
}

.btn-simple:extend(.btn-simple-generic),
.btn-simple:focus:extend(.btn-simple-generic) {	
    border: 0;
}

.btn-simple:active:extend(.btn-simple-generic),
.btn-simple:hover:extend(.btn-simple-generic) {
	background-color: @bg-color-simple-states !important; 
}

.btn-simple[disabled]:extend(.btn-simple-generic),
.btn-simple[disabled]:hover:extend(.btn-simple-generic) {
	opacity: 0.4;
}

.btn-caution-generic {
	color: @text-color-caution;
	background-color: @bg-color-caution !important;
}

.btn-caution:extend(.btn-caution-generic),
.btn-caution:focus:extend(.btn-caution-generic) {	
    border: 0;
}

.btn-caution:active:extend(.btn-caution-generic),
.btn-caution:hover:extend(.btn-caution-generic) {
	background-color: @bg-color-caution-states !important; 
}

.btn-caution[disabled]:extend(.btn-caution-generic),
.btn-caution[disabled]:hover:extend(.btn-caution-generic) {
	opacity: 0.4;
}

.btn-main-generic {
	color: @text-color-main;
	background-color: @bg-color-main !important;
}

.btn-main:extend(.btn-main-generic),
.btn-main:focus:extend(.btn-main-generic) {	
    border: 0;
}

.btn-main:active:extend(.btn-main-generic),
.btn-main:hover:extend(.btn-main-generic) {
	background-color: @bg-color-main-states !important; 
}

.btn-main[disabled]:extend(.btn-main-generic),
.btn-main[disabled]:hover:extend(.btn-main-generic) {
	opacity: 0.4;
}