@import url("http://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Montserrat|Archivo+Black|Russo+One|Alfa+Slab+One");

@import "./components/ContainerComponent";
@import "./components/MenuComponent";
@import "./components/BlockComponent";
@import "./components/LayoutComponent";
@import "./components/DeskComponent";
@import "./components/ButtonComponent";
@import "./components/SelectComponent";

// colors
@color-purple: #60287C;
@color-light-purple: #7A4196;
@color-grey: #6C6C6C;
@color-dark-grey: #4C4C4C;
@color-dark-light-grey: #616161;
@color-dark-white: #AEAEAE;
@color-white: #FFF;

@color-bg-default: #8A8A8A;

// container colors
@bg-color-header: @color-purple;
@bg-color-body: @color-dark-grey;
@bg-color-workspace: @color-grey;
@bg-color-navigatorbar: @color-dark-grey;
@border-color-body: @color-purple;
@text-color-header: @color-white;

// menu colors
@bg-color-menu: @color-dark-grey;

// block colors
@bg-color-block: @color-dark-light-grey;
@text-color: @color-white;

// layout colors
@bg-color-layout: @color-grey;
@bg-color-desk: @color-dark-light-grey;
@border-color-desk: @color-grey;

// select, button colors
@bg-color-default: @color-bg-default;
@text-color-default: @color-white;
@text-color-default-states: @color-dark-grey;

@border-color-hr: @color-dark-white;

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

hr {
    margin-top: 2px;
    margin-bottom: 6px;
    border-top: 1px solid @border-color-hr;
}