@import url("http://fonts.googleapis.com/css?family=Oswald");

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#workspace {
	background: #000;
	min-width: 250px;
	min-height: 500px;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.row {
	margin: 0;
	padding: 0;
}

#panel-header {
	background: #60287C;
}

#panel-body {
	background: #333;
	border-left: 3px solid #60287C;
	border-right: 3px solid #60287C;
	border-bottom: 3px solid #60287C;
}

#panel-primary-menu {
	margin: 0;
	padding: 0;
	background: #4C4C4C;	
}

#panel-workspace {
	margin: 0;
	padding: 0;
	background: #6C6C6C;
}

#panel-navigatorbar {
	margin: 0;
	padding: 0;
	background: #4C4C4C;
}

#panel-layout {
	margin: 0;
	padding: 3px;
	background: #6C6C6C;
}

#panel-layout div {
	position: relative;
}

#panel-layout div div {
	position: absolute;
	border: 2px solid #6C6C6C; /*#7A4196*/
	background-color: #616161; /*#616161*/
}

.desk-unselected {
	opacity: 1;
}

.desk-selected {
	opacity: 0.4;
}

#panel-secondary-menu {
	margin: 0;
	padding: 0;
	background: #4C4C4C;
}

#primary-menu-container {
	margin: 0;
	padding: 0;
	position: relative;
}

#primary-menu-content {
	margin: 0;
	padding: 0;
}

#secondary-menu-container {
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
}

#secondary-menu-content {
	margin-top: 6px;
	padding: 0;
	overflow: hidden;
	float: left; 
	white-space: nowrap;
}

.primary-block {
	margin: 2px 5px 2px 2px;
	padding: 2px;	
	border-radius: 5px;
	background: #5D5D5D;
	color: #FFF;
	width: 92%;
}

.secondary-block {
	margin: 2px 1px 2px 1px;
	padding: 2px;
	border-radius: 3px;
	background: #5D5D5D;
	color: #FFF;
	display: inline-block;
}

.btn-mirror-pro {
	width: 40px;
	color: #333333;
    background-color: #ffffff;
    border-color: #cccccc;
}

.box {
	background: #1C4FC1;
	display: inline-block;
}